{% extends "base.html" %}

{% block titre %}Calcul du trajet{% endblock %}

{% block contenu %}
    <form action="http://localhost:5000/trajet" method="post">
        <select>
            {% for voitures in voitures_list %}
            <option>{{voitures.modele}}, {{voitures.autonomie}} km</option> 
            {% endfor %}
        </select>
        <label>Latitude point A</label> : <input type="integer" name="lata" />
        <label>Longitude point A</label> : <input type="integer" name="longa" />
        <label>Latitude point B</label> : <input type="integer" name="latb" />
        <label>Longitude point B</label> : <input type="integer" name="longb" />
        <input type="submit" value="Valider" />
    </form>

    <a href="http://127.0.0.1:5000/voitures" target="_blank"> <input type="button" value="Consulter/modifier la liste des voitures"> </a>
{% endblock %}